<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script>
        const yash_click = () => {
            window.location.href = ("http://127.0.0.1:5000/yash")
        }
    </script>
</head>
<body>
    <h1>Index</h1>
    <a href="/tushar">Tushar</a>
    <button onclick="yash_click()">Yash</button>
    <form action="/" method="post">
        <input type="text" name="name"/>
        <input type="text" name="message"/>
        <button type="submit">Click</button>
    </form>
</body>
</html>